body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #1c7430;
  color: #fff;
}
h1 {
  opacity: 0.9;
}

#root {
  position: relative;
  height: 100vh;
}

.sprite {
  background: url('/img/sprite.png') no-repeat;
}

.menu {
  width: 503px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: -130px;
  margin-left: -250px;
  text-align: center;
}

.logo {
  width: 503px;
  height: 262px;
}

.start-img {
  background: url('/img/StartGame.png') no-repeat;
}

.over-img {
  background: url('/img/Over.png') no-repeat;
}

.menu .btn {
  background: #fff;
  opacity: 0.85;
  padding: 14px 25px;
  color: #1c7430;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}

.menu .btn:hover {
  background: #fff;
  cursor: pointer;
  opacity: 1;
}

.board {
  padding: 40px;
}

.header {
  display: flex;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
  justify-content: space-between;
}

.board .btn-reset {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  opacity: 0.9;
  outline: none;
  cursor: pointer;
}

.board .btn-reset:hover {
  opacity: 1;
}

.board .score {
  color: #fff;
  font-size: 16px;
  opacity: 0.9;
}

.board .message span {
  color: #fff;
  font-size: 16px;
  opacity: 0.9;
}

.cards-set {
  clear: both;
  width: 760px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}

.hidden {
  opacity: 0;
}

.card {
  width: 109px;
  height: 152px;
  position: relative;
  margin-bottom: 20px;
  transform: perspective(180px) rotateY(0deg);
  transform-style: preserve-3d;
  transition: transform 1s;
  overflow: inherit;
}

.card-back,
.card-front {
  display: block;
  width: 109px;
  height: 152px;
  position: absolute;
  backface-visibility: hidden;
  background: url('/img/sprite.png') no-repeat;
  background-size: 1200px;
  transition: opacity 1s;
  transition-delay: 0.9s;
}

.card .card-back {
  background-position: -872px -606px;
  transform: rotateY(0deg);
  z-index: 15;
}

.card-front {
  transform: rotateY(180deg);
  z-index: 10;
}

.flipped {
  transform: rotateY(180deg);
}

.card:hover {
  cursor: pointer;
}

.greatings span {
  display: block;
}

.card-2H {
  background-position: 0px -302px;
}
.card-2D {
  background-position: 0px 0px;
}
.card-2C {
  background-position: 0px -151px;
}
.card-2S {
  background-position: 0px -454px;
}
.card-3H {
  background-position: -109px -302px;
}
.card-3D {
  background-position: -109px 0px;
}
.card-3C {
  background-position: -109px -152px;
}
.card-3S {
  background-position: -109px -454px;
}
.card-4H {
  background-position: -218px -302px;
}
.card-4D {
  background-position: -218px 0px;
}
.card-4C {
  background-position: -218px -152px;
}
.card-4S {
  background-position: -218px -454px;
}
.card-5H {
  background-position: -327px -302px;
}
.card-5D {
  background-position: -327px 0px;
}
.card-5C {
  background-position: -327px -152px;
}
.card-5S {
  background-position: -327px -454px;
}
.card-6H {
  background-position: -436px -302px;
}
.card-6D {
  background-position: -436px 0px;
}
.card-6C {
  background-position: -436px -152px;
}
.card-6S {
  background-position: -436px -454px;
}
.card-7H {
  background-position: -545px -302px;
}
.card-7D {
  background-position: -545px 0px;
}
.card-7C {
  background-position: -545px -152px;
}
.card-7S {
  background-position: -545px -454px;
}
.card-8H {
  background-position: -653px -302px;
}
.card-8D {
  background-position: -653px 0px;
}
.card-8C {
  background-position: -653px -152px;
}
.card-8S {
  background-position: -653px -454px;
}
.card-9H {
  background-position: -763px -302px;
}
.card-9D {
  background-position: -763px 0px;
}
.card-9C {
  background-position: -763px -151px;
}
.card-9S {
  background-position: -763px -454px;
}
.card-0H {
  background-position: -872px -302px;
}
.card-0D {
  background-position: -872px 0px;
}
.card-0C {
  background-position: -872px -151px;
}
.card-0S {
  background-position: -872px -454px;
}
.card-JH {
  background-position: -980px -302px;
}
.card-JD {
  background-position: -980px 0px;
}
.card-JC {
  background-position: -980px -151px;
}
.card-JS {
  background-position: -980px -454px;
}
.card-QH {
  background-position: -1089px -302px;
}
.card-QD {
  background-position: -1089px 0px;
}
.card-QC {
  background-position: -1089px -151px;
}
.card-QS {
  background-position: -1089px -454px;
}
.card-KH {
  background-position: -218px -605px;
}
.card-KD {
  background-position: 0px -605px;
}
.card-KC {
  background-position: -109px -605px;
}
.card-KS {
  background-position: -327px -605px;
}
.card-AH {
  background-position: -654px -605px;
}
.card-AD {
  background-position: -436px -605px;
}
.card-AC {
  background-position: -545px -605px;
}
.card-AS {
  background-position: -763px -605px;
}
